/* defining some variables */

.crimson-text-regular {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: normal;
}

.crimson-text-semibold {
  font-family: "Crimson Text", serif;
  font-weight: 600;
  font-style: normal;
}

.crimson-text-bold {
  font-family: "Crimson Text", serif;
  font-weight: 700;
  font-style: normal;
}

.crimson-text-regular-italic {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: italic;
}

.crimson-text-semibold-italic {
  font-family: "Crimson Text", serif;
  font-weight: 600;
  font-style: italic;
}

.crimson-text-bold-italic {
  font-family: "Crimson Text", serif;
  font-weight: 700;
  font-style: italic;
}

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;  
  -moz-box-ordinal-group: $val;     
  -ms-flex-order: $val;     
  -webkit-order: $val;  
  order: $val;
}

.wrapper {
  @include flexbox();
}

.item {
  @include flex(1 200px);
  @include order(2);
}

:root {
  --bg-drkbl: #34cca7;
  --font: 'Crimson Text';
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font), sans-serif;
  font-weight: 300;
}

main {
  max-width: 150ch;
  margin: 0px auto; /*Left-align text, center block*/
  padding-left: 20px;
  padding-right: 20px;
}

p {
  font-family: var(--font), sans-serif;
  font-weight: 300;
}

h1 {
  font-family: var(--font), sans-serif;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px
  font-size: 40px;
}

h2 {
  font-family: var(--font), sans-serif;
  padding-top: 10px;
}

h3 {
  font-family: var(--font), sans-serif;
  margin-top: 10px;
  padding-top: 10px;
}

ul {
  font-family: var(--font);
  font-weight: 300;
  font-size: 1.0em; /*em is the computed font size*/
}

container {
  background: var(--bg-drkbl); 
  background-size: cover;
  margin: auto auto;
  max-width: 940px; 
  padding: 10 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

header {
  background: var(--bg-drkbl); 
  background-size: cover;
  text-align: center; 
  position: sticky;
  top: 0;
}

header h1 {
  background: var(--bg-drkbl); 
  color: #fff;
  margin-bottom: 0px; 
  margin-top: 0px;
  font-size: 5vw;
}
@media screen and (min-width: 900px)
  {
    header h1 {
      font-size: 45px;
    }
  }
@media screen and (max-width: 650px) /* Keeping the text from getting too small on small screens */
  {
    header h1 {
      font-size: 32px;
    }
  }

strong {
  font-weight: 700;
}

nav { 
  background: var(--bg-drkbl);
  font-size: 2vw; 
  width: 100%;
}
@media screen and (min-width: 900px)
  {
    nav {
      font-size: 18px;
    }
  }
@media screen and (max-width: 650px) /* Keeping the text from getting too small on small screens */
  {
    nav {
      font-size: 13px;
    }
  }

nav a:visited { /* Changes color of visited links */
  color: #800080
}

nav ul {
  list-style: none;
  margin: 0 0; 
}

nav a {
  color: #fff;
  display: inline-block; 
  list-style: none;
  padding-top: 25px;
  padding-bottom: 25px;
  transition: background .5s; 
  margin-left: 0px;
}

.btn:hover, nav ul li:hover {
  background: #117bff;
  cursor: pointer; 
  transition: background .5s;  
}

.main .container {
  margin: 80px auto;
}

.main img {
  float: left;
  margin: 50px 80px 50px 0px;
}

.box {
  border: 3px solid darkred;
  border-radius: 10px;
  background: FFDBBA;
  padding-left: 50px;
  padding-right: 50px;
  max-width: 150ch;
}

img {
  max-width: 100%;
}

@media (max-width: 500px) {
  .header h1 {
    font-size: 50px;
    line-height: 64px;
  }
  
  .main img {
    width: 100%;
  }
}
